:root {
  --primary-color: #2a607c;
  --secondary-color: aliceblue;
  --tertiary-color: #d9dcd6;
}

* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}

html, body {
  height: 100%;
  background-color: var(--tertiary-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  font-size: 16px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 12px 4px;
  display: flex;
}

.hero h1 {
  display: inline-block;
  font-size: 48px;
}

.sidebar {
  border: 3px inset;
  width: 25%;
  padding: 0 auto;
}

.map-container {
  border: 3px inset;
  width: 75%;
  padding: 0 auto;
}

.container {
  display: block;
  width: 80%;
  height: 75vh;
  margin: 0 auto;     
}

.footer {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 12px 4px;
  display: flex;
  position: fixed;
  bottom: 0;
}

.footer p {
  color: var(--secondary-color);
}

/* CARDS */

.card {
  margin: 0 0 20px 0;
}

.card-header {
  color: var(--primary);
  padding: 2.5%;
}

.card-body {
  padding: 2.5%;
}

.restaurants:hover {
  color: var(--primary-color);
}

.gas:hover {
  color: var(--primary-color);
}

.parks:hover {
  color: var(--primary-color);
}

.movies:hover {
  color: var(--primary-color);
}

.groceries:hover {
  color: var(--primary-color);
}

/* HEIGHT / WIDTH UTILS */

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FONT UTILS */

.text-uppercase {
  text-transform: uppercase;
}

/* FLEX CONTENT */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}