* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}

body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

.header {
  text-align: center;
  padding: 12px 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  display: flex;
  position: sticky;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.border {
  border: 2.5px;
  border-style: inset;
}

.sidebar {
  width: 20%;
}

.map-box {
  width: 80%;
}

.container {
  display: flex;
  height: 512px;
  width: 100%;
  padding: 12px 4px;
}

.footer {
  padding: 12px 4px;
  text-align: center;
  width: 100%;
  height: 128px;
}