:root {
  --primary-color: #2a607c;
  --secondary-color: aliceblue;
  --tertiary-color: #d9dcd6;
}

* {
  box-sizing: border-box;
  padding: 0 auto;
  margin: 0 auto;
}

body {
  background-color: var(--tertiary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

p {
  font-size: 16px;
}

.btn {
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 12px 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
}

.hero h1 {
  display: inline-block;
  font-size: 48px;
}

.border {
  border: 2.5px;
  border-style: inset;
}

.sidebar {
  width: 20%;
}

.map-box {
  width: 80%;
}

.container {
  display: flex;
  width: 100%;
  padding: 12px 4px;
  height: 512px;
}

.footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 12px 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
}

.footer p {
  display: inline-block;
  color: var(--secondary-color);
}

/* CARDS */

.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.card-header {
  color: var(--primary);
  background-color: var(--dark);
  padding: 2.5%;
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
}

/* HEIGHT / WIDTH UTILS */

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* FONT UTILS */

.text-uppercase {
  text-transform: uppercase;
}

/* FLEX CONTENT */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
